* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  min-width: 1280px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.body .frontBg {
  position: absolute;
  top: -40px;
  z-index: -100;
}

.body .sideBg {
  position: absolute;
  z-index: -100;
  top: 1150px;
  right: -40px;
  height: 650px;
  width: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.body .sideBg img {
  width: 100%;
  height: 100%;
}

.body .small_circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #735ccb;
  z-index: -100;
  position: absolute;
  top: 565px;
  right: 290px;
}

.body .big_circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #735ccb;
  z-index: -100;
  position: absolute;
  top: 500px;
  right: -120px;
}

.body .grey_circle {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: #e1e1e1;
  z-index: -100;
  position: absolute;
  top: 800px;
  left: -230px;
}

.homepageRegister {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.show__homepageRegister {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.mainwrapper {
  width: 1280px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.headerbox {
  margin-top: 30px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerbox .logo {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100px;
  margin-left: 10px;
}

.headerbox .logo img {
  height: 100%;
  width: 100%;
}

.headerbox ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerbox ul li {
  margin: auto 30px;
}

.headerbox ul li:hover {
  font-weight: 600;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2);
}

.headerbox ul li a {
  text-decoration: none;
  color: black;
}

.headerbox button {
  background-color: white;
  color: black;
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 15px;
  font-weight: 800;
  cursor: pointer;
  font-size: 14px;
  width: 100px;
}

.headerbox button:hover {
  background: #d9d9d9;
}

.part1 {
  width: 100%;
  margin-top: 30px;
  height: 400px;
  position: relative;
}

.part1 .textPart {
  text-align: left;
  padding: 50px 0;
  width: 500px;
}

.part1 .textPart h1 {
  font-size: 3em;
  font-weight: 900;
  margin-bottom: 30px;
}

.part1 .textPart h1 span {
  color: #735ccb;
}

.part1 .textPart p {
  width: 400px;
  font-size: 18px;
}

.part1 .textPart button {
  background-color: #735ccb;
  color: white;
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 15px;
  font-weight: 800;
  cursor: pointer;
  font-size: 14px;
  padding: 15px;
  width: 130px;
  margin-top: 40px;
}

.part1 .textPart button:hover {
  background: #4c35a6;
}

.part1 .imagePart {
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  right: 200px;
  top: 0;
  width: 400px;
  margin-top: -30px;
}

.part1 .imagePart img {
  width: 100%;
  height: 100%;
}

.part2 {
  height: 500px;
  overflow: hidden;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.part2 .imagePart {
  margin: auto 0;
  -o-object-fit: contain;
     object-fit: contain;
  width: 48%;
  height: 400px;
  overflow: hidden;
}

.part2 .imagePart img {
  width: 100%;
  height: 100%;
}

.part2 .textPart {
  margin: auto 0;
  width: 52%;
}

.part2 .textPart h1 {
  margin-bottom: 30px;
}

.part2 .textPart p {
  width: 490px;
  font-size: 14px;
  text-align: left;
  line-height: 30px;
}

.part2 .textPart button {
  margin-top: 50px;
  background-color: #735ccb;
  color: white;
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 15px;
  font-weight: 800;
  cursor: pointer;
  font-size: 14px;
  width: 170px;
}

.part2 .textPart button:hover {
  background: #4c35a6;
}

.part3 {
  height: 425px;
  width: 950px;
  margin: 40px auto;
  padding: 30px;
  position: relative;
  -webkit-box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.2);
}

.part3 .text1,
.part3 .text2 {
  font-weight: 500;
  width: 700px;
  height: 200px;
  text-align: left;
}

.part3 .text1 h2,
.part3 .text2 h2 {
  margin-bottom: 30px;
  font-size: 30px;
}

.part3 .text1 {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 70px;
  padding-top: 70px;
}

.part3 .text2 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 70px;
  padding-right: 70px;
}

.part3 .image1,
.part3 .image2 {
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 40px;
}

.part3 .image1 img,
.part3 .image2 img {
  width: 100%;
  height: 100%;
}

.part3 .image1 {
  position: absolute;
  right: 0;
  top: 0;
}

.part3 .image2 {
  position: absolute;
  left: 0;
  bottom: 0;
}

.part4 {
  height: 300px;
  width: 1200px;
  margin: 80px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.part4 .textPart {
  width: 48%;
  padding: 20px;
  padding-left: 40px;
}

.part4 .textPart h1 {
  margin-bottom: 30px;
}

.part4 .textPart p {
  line-height: 30px;
}

.part4 .textPart button {
  background-color: #735ccb;
  color: white;
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 15px;
  font-weight: 800;
  cursor: pointer;
  font-size: 14px;
  margin-top: 30px;
  margin-left: 60px;
  width: 140px;
}

.part4 .textPart button:hover {
  background: #4c35a6;
}

.part4 .imagePart {
  width: 52%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.part4 .imagePart img {
  width: 100%;
  height: 100%;
}

.part5 {
  width: 100vw;
  position: absolute;
  left: 0;
  height: 300px;
  background-color: #735ccb;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.part5 .imagePart {
  -o-object-fit: contain;
     object-fit: contain;
  height: 290px;
  width: 400px;
  margin: auto 0;
}

.part5 .imagePart img {
  width: 100%;
  height: 100%;
}

.part5 .textPart {
  width: 700px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 900;
  padding: 20px;
  color: white;
}

.part5 .textPart button {
  background-color: white;
  color: black;
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 15px;
  font-weight: 800;
  cursor: pointer;
  font-size: 14px;
  width: 150px;
  margin-top: 40px;
}

.part5 .textPart button:hover {
  background: #d9d9d9;
}

.part5_dummy {
  height: 300px;
  width: 100%;
  background-color: #735ccb;
  margin-bottom: 50px;
}

.part6 {
  width: 1280px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 100px;
}

.part6 > h1 {
  margin-bottom: 10px;
}

.part6 > p {
  font-size: 14px;
  font-weight: 600;
}

.part6 .part6_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.part6 .part6_container > div {
  width: 28%;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 40px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 15px 20px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 15px 20px 10px rgba(0, 0, 0, 0.15);
}

.part6 .part6_container > div .feature_image {
  margin: 40px;
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}

.part6 .part6_container > div .feature_image img {
  width: 100%;
  height: 100%;
}

.part6 .part6_container > div h2 {
  font-size: 25px;
  margin-bottom: 20px;
  height: 70px;
}

.part6 .part6_container > div p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 30px;
}

.part6 .part6_container > div button {
  background-color: #735ccb;
  color: white;
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 15px;
  font-weight: 800;
  cursor: pointer;
  font-size: 14px;
  width: 180px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.part6 .part6_container > div button:hover {
  background: #4c35a6;
}

.footer {
  width: 100%;
}

.footer .footer_upper {
  padding-top: 20px;
  background-color: #26262e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.footer .footer_upper .footer_list {
  margin: 30px;
  width: 150px;
  line-height: 30px;
  text-align: left;
}

.footer .footer_upper .footer_list h3 {
  font-size: 18px;
  margin-bottom: 30px;
}

.footer .footer_upper .footer_list li {
  list-style: none;
  font-size: 14px;
}

.footer .footer_upper .footer_list a {
  text-decoration: none;
  color: white;
}

.footer .footer_lower {
  height: 80px;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #000;
  color: white;
}

.footer .footer_lower .footer_lower_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.footer .footer_lower .footer_lower_left .logo {
  -o-object-fit: contain;
     object-fit: contain;
  height: 60px;
  width: 60px;
  margin-right: 30px;
}

.footer .footer_lower .footer_lower_left .logo img {
  width: 100%;
  height: 100%;
}

.footer .footer_lower .footer_lower_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer_lower .footer_lower_right .logos {
  margin: 10px;
}
/*# sourceMappingURL=HomePage.css.map */