@import "./variables";

.userpage {
  min-height: 100vh;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.userpage__content {
  flex: 1;
  width: 100%;
  display: flex;
}

.userpage__mainContent {
  flex: 1;
  background-color: $lt_grey;
}

.userpage__userInfo {
  width: 350px;
  background-color: white;
  display: block;
  padding: 10px;
}

.hidden_userpage__userInfo {
  height: 0;
  display: none;
}
