

// ================ variables ========================

$page1-intro-font:"Times New Roman", Times, serif;
$page1-logo-font:Verdana, Geneva, Tahoma, sans-serif;
$page1-info-font:"Times New Roman", Times, serif;
$page1__register:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$page2__content:Verdana, Geneva, Tahoma, sans-serif;

// ================ home page =================================

.homepage {
  overflow-x: hidden;
  position: relative;
}

// =================== page 1 =========================================

.page1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  // opacity:0.8;
  background-image: url("./images/online studying.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.page1 {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100%;
  position: relative;
}

// ================ navigation bar =========================

.page1__navbar {
  position: fixed;
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  color: cornsilk;
  transition: all 1s ease;
  z-index:100;
}

.page1__navbarNew{
  background-color: rgba(0, 0, 0, 0.9);
}

.page1__logo {
  display: flex;
  align-items: center;
  flex: 1;
  // color:black;
  font-family:$page1-logo-font ;
  // background-color: darkgoldenrod;
}
.page1__right {
  display: flex;
  align-items: center;
  flex: 2;
  // background-color: darkgoldenrod;
}
.page1__logo .logo__img {
  width: 45px;
  height: 45px;
  background: #bbb;
  border-radius: 50%;
  margin: 10px;
  object-fit: contain;
  overflow: hidden;
  // background:cornflowerblue;
  img{
    width:100%;
    height:100%;
  }
}
 .logo__text{
  height: 100%;
  margin-left: 10px;
  padding:8px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  // background: chartreuse;
  h2{
    font-size: 25px;
    // background:crimson;
  }
  p{
    font-size: 12px;
  }
}
.page1__info {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  // background: blueviolet;
}
.page1__info h3 {
  margin: 10px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  font-family: $page1-info-font;
  padding: 5px 20px;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
  }
}
.page1__info a{
  text-decoration: none;
}
.page1__register {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  // background: chartreuse;
}

.page1__registerBtn{
  padding: 8px 40px;
  min-width: 100px;
  font-size: 16px;
  font-family:$page1__register;
  font-weight: 800;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 1);
    color:snow;
  }
}
.register__buttonNew{
  background-color: rgba(255, 255, 255, 0.6);
  color:black;
  &:hover {
    background-color: rgba(255, 255, 255, 1);
    color:black;
  }
}


// ====================== page 1 intro ====================================

.page1__intro{
  color:whitesmoke;
  position: absolute;
  top:50%;
  left:10%;
  transform: translateY(-50%);
  font-size: 40px;
  font-family:$page1-intro-font;
  width:40%;
}

// =================== page 2 ===============================

.page2{
  height: 100vh;
  width: 100%;
  background-color:  #504745;
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.page2__image{
  height:auto;
  flex:1;
  max-width:600px;
  width:100%;
  object-fit: contain;
  padding: 20px;
  // box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.6);
  img{
    width:100%;
    height:100%;
  }
  
}
.page2__content{
  color:white;
  flex:1;
  text-align: center;
  font-size: 20px;
  font-family: $page2__content;
  padding:30px;
  b{
    font-size: 40px;
    font-weight: 600;
    line-height: 100px;
  }
}


// ===================== contact form==============================

.homepage__contact{
  background-color: rgba(0, 0, 0, 0.6);
  padding:40px 5vw;
  width:100%;
  h2{
    margin-bottom:20px;
    margin-left:10px;
  }
}

.homepage__contactForm{
  display:flex;
  flex-direction: column;
  font-size: 30px;
  input{
    padding:10px;
    margin:10px;
    // border-radius: 10px;
    border:none;
    font-size: 18px;
    &:focus{
      border:none;
      outline: none;
    }
  }
  textarea{
    padding:10px;
    margin:10px;
    // border-radius: 10px;
    border:none;
    font-size: 18px;
    resize:vertical;
    &:focus{
      border:none;
      outline: none;
    }
  }
  button{
    padding:10px;
    margin:10px;
    font-size:20px;
    font-weight: 600;
  }
}