.login {
  background-image: url("./images/login-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.loginSection {
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 4px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 500px;
  color: white;
}

.loginSection::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: rgba(14, 12, 12, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(95, 96, 107, 0.37);
          box-shadow: 0 8px 32px 0 rgba(95, 96, 107, 0.37);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.login__heading {
  background-color: #e6cd9c;
  padding: 10px 20px;
  border-radius: 30px 0 30px 0;
  border-left: 3px solid white;
  border-right: 3px solid white;
  margin-top: 10px;
}

.login__heading h3 {
  color: #1f1e1e;
}

.logo__link {
  text-decoration: none;
  color: #353535;
}

.login__full__logo {
  text-align: center;
  outline: none;
  border: none;
  color: white;
}

.login__full__logo .login__logo {
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}

.login__full__logo .login__logo img {
  height: 100%;
  width: 100%;
}

.login__full__logo h2 {
  font-family: 16px;
}

.login__full__logo p {
  font-size: 14px;
}

.BtnSection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.BtnSection button {
  padding: 8px 10px;
  width: 40%;
  border: none;
  outline: none;
  background-color: #ce9e44;
}

.login__formContainer {
  width: 80%;
}

.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.login__form > input {
  margin: 10px;
  border: none;
  width: 100%;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
}

.login__form > input:focus {
  border: none;
  outline: none;
}

.error {
  color: red;
  font-size: 14px;
  width: 100%;
  margin-top: -10px;
  text-align: left;
}

.pwdCheckbox {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pwdCheckbox label {
  margin-left: 10px;
  font-size: 14px;
}

.login__form button {
  cursor: pointer;
  padding: 10px 30px;
  margin: 10px;
  background: #4a878c;
  border: none;
  font-weight: 700;
  color: white;
  border-radius: 4px;
}

.sign__alternate {
  color: black;
  font-size: 0.9em;
}

.sign__alternateAnch {
  font-size: 15px;
  text-decoration: none;
  color: #39696d;
}

.mentorBtn {
  background-color: #ffe6d4;
  color: black;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/*# sourceMappingURL=Login.css.map */